/* styles.css */
.black {
    -fx-background: linear-gradient(from 0% 100% to 0% 0%, rgba(53,168,165,255), rgba(76,194,178,255));
}

.button {
    -fx-background-color: #4dc3b3;
    -fx-text-fill: white;
    -fx-font-size: 18px; /* Reduced font size from 21px to 18px */
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.8), 10, 0.5, 0, 0);
}

.text {
    -fx-font-size: 16px;
    -fx-fill: #000000;
}

.text-table {
    -fx-font-size: 16px;
    -fx-fill: black;
}

.text-title{
    -fx-font-size: 26px;
    -fx-fill: white;
}

.text-input {
    -fx-background-color: white;
    -fx-text-fill: black;
}



